//Override
$red: #b32;
$grey: #222;

$primary: $red;
$secondary: $grey;

#group-buttons {
    margin: 15px 0;
}

b-input-group {
    max-width: 30 vw;
}

nav {
    min-height: 10vh;
}
p {
    padding: 0 0 3px 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#fav-button {
    right: 0;
    top: 0;
}

html {
    background-color: #333;
    margin: 0;
    padding: 0;
  }

  .login {
    max-width: 20vw;
    margin: 0 auto;
  }
  
  .reddish {
    margin: 2vh;
  }
  
  #landingPage {
    background: #333;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #b32;
    margin-top: 60px;
  }